.search_title {
    margin-right: 15px;
}

.search_form {
    text-align: center;
    margin: auto; 
    width: 50%;
    height: 75%;
}

.search_container {
    margin-top: 45vh;
    min-height: 50vh;
    min-width: 80vw;
}

.ingredients_list {
    text-align: center;
    margin: auto;
}

ul {
    list-style: none;
}

.test-class {
    margin-left: 10px;
}