#toggle{
    display:flex;
     flex-direction:column;
     width:35px;
     cursor:pointer;
   }
   
   #toggle span{
     background: #000;
     border-radius:10px;
     height:3px;
     margin: 3px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   span:nth-of-type(1){
     width:50%;
   
   }
   
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
    
   }
   
   
   input[type="checkbox"]{
     display:none;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(4px,-1px)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
   
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
   
     transform-origin:bottom;
     width:50%;
     transform: translate(15px,-4px) rotatez(45deg);
   
   }
.menu > button{
       height: 30px;
       width: 85px;
       text-align: center;
       background-color: black;
       border-color: #000;
       color:white;
   }

.menu > button:hover{
    background-color: white;
    color:black;
  }